@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #15161e;
}

::-webkit-scrollbar-thumb {
  background-color: #cf1c6a;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
body {
  display: flex;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  background-color: #15161e;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
