@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
}
body {
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
